<!DOCTYPE html>
<html>
  <head>
    <title>EventWorld</title>
    <%= stylesheet_link_tag "event_world/application", media: "all" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false", "event_world/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
